{% extends 'base_menu/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <h1 class="profile-title">Личный кабинет</h1>
    <div class="profile-grid">
        <div class="card">
            <h2>Основные сведения</h2>
            <div class="info-box">
                <label>ФИО</label>
                <span>({{ user.username }})</span>
            </div>
            <div class="info-box">
                <label>Email / Логин</label>
                <span>{{ user.email }} </span>
            </div>
            <div class="info-box">
                <label>Статус в системе</label>
                <span style="color: var(--primary);">{{ user.get_role_display }}</span>
            </div>
        </div>

        {% if student %}
        <div class="card">
            <h2>Учебный профиль</h2>
            <div class="info-box">
                <label>Текущая Группа</label>
                <span>{{ student.group }}</span>
            </div>
            <div class="info-box">
                <label>Курс / Семестр</label>
                <span>{{ student.course }} курс, {{ student.semester }} семестр</span>
            </div>
            <div class="info-box">
                <label>Изучаемые языки</label>
                <div style="margin-top: 10px;">
                    {% for lang in student.languages_with_levels.all %}
                        <span class="lang-tag">{{ lang.language }} ({{ lang.get_level_display }})</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% elif teacher or mentor %}
        <div class="card">
            <h2>Профессиональные данные</h2>
            {% with p=teacher|default:mentor %}
            <div class="info-box">
                <label>Департамент</label>
                <span>{{ p.department }}</span>
            </div>
            <div class="info-box">
                <label>Специализация</label>
                <span>{{ p.specialization }}</span>
            </div>
            <div class="info-box">
                <label>Опыт работы</label>
                <span>{{ p.experience_years }} лет</span>
            </div>
            {% endwith %}
        </div>
        {% endif %}
    </div>
{% endblock %}